[user]
	emal = derioreal63@gmail.com
	name = Dario Pranjic
	email = derioreal63@gmail.com
	signingkey = D0743646468E13F5
[tag]
	gpgSign = true
[commit]
	gpgsign = true
[credential]
	helper = store
[push]
	autoSetupRemote = true
[pull]
	rebase = true

[alias]
	lg = log --oneline --graph --decorate
[core]
	editor = vim
[merge]
tool = intellij
[mergetool "intellij"]
cmd = intellij-idea-ultimate merge "$LOCAL" "$REMOTE" "$BASE" "$MERGED"
trustExitCode = true
[mergetool]
keepBackup = false
